<head>
<style>
    body {
        background: #000000;
        font-family: Arial;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100px;
        margin: 0;
    }
    .container {
       width: 60%;
       background: #ff0000;
       padding: 20px;
       border-radius: 20px;
    }
    h1{
        color: #0080ff;
    }
    p {
        background: rgb(255, 255, 255)
    }
</style>
</head>
<div class="container">

<h1>Ask for Advice</h1>
*We aren't Professional. Please consider our answer carefully.
<form method="POST">

Gmail:<br>
<input type="text" name="name">

<br><br>

Question:<br>
<textarea name="message"></textarea>

<br><br>

<button type="submit">Send</button>

</form>

<a href="/">Back Home</a>
</div>